.title{
    font-weight: bold;
    font-size: 150%;
    padding-left: 100px;
}
a.text-decoration-underline {
    padding-left: 100px;
    font-weight: bold;
    font-size: 120%;
}
.row.promotion {
    padding-left: 80px;
    padding-block-end: 50px;
    padding-block-start: 25px;
}
.img-promotion {
    border-radius: 10px;
}