.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(21.5%, 0);
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid hsla(0, 0%, 0%, 0.1);
}
body {
    background: #eee;
    min-height:100vh;
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}
table {
    table-layout: fixed;
    width: 100%;
}

table td {
    word-wrap: break-word;
    /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;
    /* Renamed property in CSS3 draft spec */
}
.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}
.flex-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}